*~
*.swo
*.swp
old
*.log
*.aux
toRsync
delfi/docs
figures
delfi/delfisSolutions/Guia_De_Fisica_2.pdf
delfi/mySolutions/guia1/reports/*
!delfi/mySolutions/guia1/reports/Makefile
!delfi/mySolutions/guia1/reports/*.tex
!delfi/mySolutions/guia1/reports/*.pdf
delfi/mySolutions/guia1/aiConsultations/gemini/*.pdf
