*~
*.swo
*.swp
old
*.log
*.pdf
*.aux
toRsync
delfi/docs
figures
delfi/mySolutions/guia1/reports/*
!delfi/mySolutions/guia1/reports/Makefile
!delfi/mySolutions/guia1/reports/*.tex
!delfi/mySolutions/guia1/reports/*.pdf
